extends layout
block content
    .row(style='margin-top: 20px')
        p.span3
            a.btn.btn-info(href='/add') Add the new todo
    .row.todo-list
        if todoes.length > 0
            table.span6(border=1)
                tr
                    th Content
                    th Status
                    th Delete
                each todo in todoes
                    tr
                        td=todo.content
                        td
                            if todo.status == 'Active'
                                a.btn(href='/done/#{todo._id}') Make it done
                            else
                                | #{todo.status}
                        td
                            a.btn(href='/delete/#{todo._id}') Delete
        else
            h1.no-record.span6.well.
                There is no record now.


