doctype 5
html
    head
        title="Login"
    body
        h1 User Login
        #container
            form(method="POST")
                p
                    label User Name
                    input(name="username", id="username", placeholder='enter user name here')
                p
                    label Password
                    input(type="password", name="password", id="password", placeholder='enter password here')
                input(type="submit", value="Login")

