extends layout
block content
    .row
        .span4
            h1 User Login
            form.well(method="POST")
                p
                    label User Name
                    input(name="username", id="username", autofocus, placeholder='enter user name here')
                p
                    label Password
                    input(type="password", name="password", id="password", placeholder='enter password here')
                input(type="submit", value="Login")

