doctype 5
html
    head
        title="Login"
    body
        h1 Register the new account for To Do JS
        #container
            form(method="POST")
                p
                    label User Name
                    input(name="username", id="username")
                p
                    label Password
                    input(type="password", name="password", id="password")
                input(type="submit", value="Login")

