extends layout
block content
    .row
        .span4
            h1 Register the new account
            form.well(method="POST")
                p
                    label User Name
                    input(name="username", id="username")
                p
                    label Password
                    input(type="password", name="password", id="password")
                input(type="submit", value="Register")

